mytest/B4lCC7wxvMyh8s2n.json
{
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Gmail3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-25T11:45:08.012Z",
  "id": "B4lCC7wxvMyh8s2n",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "test1",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Test From",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First Name"
            },
            {
              "fieldLabel": "Last Name"
            },
            {
              "fieldLabel": "Email"
            },
            {
              "fieldLabel": "Budget",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "0-1000"
                  },
                  {
                    "option": "1000-2000"
                  },
                  {
                    "option": "2000+"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -340,
        -120
      ],
      "id": "c998982d-d37a-4975-afe8-d6b3cb219c29",
      "name": "On form submission",
      "webhookId": "3665f27b-b4d5-4912-a3c4-75ee03f2a36d"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Wk7iLEKXYy-hievcezEWU1fAv7EUKGCeJyUbueiYZ1o",
          "mode": "list",
          "cachedResultName": "n8ntest",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Wk7iLEKXYy-hievcezEWU1fAv7EUKGCeJyUbueiYZ1o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Wk7iLEKXYy-hievcezEWU1fAv7EUKGCeJyUbueiYZ1o/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fist Name": "={{ $json['First Name'] }}",
            "Last Name": "={{ $json['Last Name'] }}",
            "Email": "={{ $json.Email }}",
            "Budget": "={{ $json.Budget }}",
            "Mewssage": "={{ $json.Message }}",
            "Date": "={{ $now}}",
            "Rejected": "={{ $if($json.Budget<=\"2000\",\"FALSE\",\"TRUE\") }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Fist Name",
              "displayName": "Fist Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mewssage",
              "displayName": "Mewssage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rejected",
              "displayName": "Rejected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -120,
        -120
      ],
      "id": "96e99620-4e2c-449a-b554-e56b2fcdbe0c",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZUshZqZwcVJVtSfD",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f157514-114d-4477-8930-12a1b05387ec",
              "leftValue": "={{ $json.Budget }}",
              "rightValue": "2000",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        100,
        -120
      ],
      "id": "35aedede-340f-4a63-ae92-565e97a40e6f",
      "name": "Filter"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('On form submission').item.json.Budget }}",
                    "rightValue": "0-1000",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "16f58ce9-5568-4fe2-9ec2-56e5f51248d9"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6808e009-2423-4f88-b1bd-8491a3a8c52e",
                    "leftValue": "={{ $('On form submission').item.json.Budget }}",
                    "rightValue": "1000-2000",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "afe74b14-b366-44d8-a93e-765fc958d06a",
                    "leftValue": "={{ $('On form submission').item.json.Budget }}",
                    "rightValue": "2000",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        320,
        -120
      ],
      "id": "eac97b3e-3e58-4bad-bad6-8cdca21e97a3",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Hey, test n8n",
        "message": "=Hey, {{ $('On form submission').item.json['First Name'] }}\n费用在0-1000",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        600,
        -340
      ],
      "id": "99003541-73aa-4576-b76a-d2a59e55854d",
      "name": "Gmail",
      "webhookId": "2ff7d692-99dc-4d4d-8254-5c342d1f1fbf",
      "credentials": {
        "gmailOAuth2": {
          "id": "izXCwkn78TWKTAsI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Hey, test n8n",
        "message": "=Hey, {{ $('On form submission').item.json['First Name'] }}\n费用在1000-2000",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        620,
        -120
      ],
      "id": "bf873f8d-f261-4c1b-9a2a-dbb533d77d15",
      "name": "Gmail1",
      "webhookId": "2ff7d692-99dc-4d4d-8254-5c342d1f1fbf",
      "credentials": {
        "gmailOAuth2": {
          "id": "izXCwkn78TWKTAsI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Hey, test n8n",
        "message": "=Hey, {{ $('On form submission').item.json['First Name'] }}\n费用大于2000",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        620,
        140
      ],
      "id": "f4c42764-6e7b-49d3-b971-108ab6d5fbbe",
      "name": "Gmail2",
      "webhookId": "2ff7d692-99dc-4d4d-8254-5c342d1f1fbf",
      "credentials": {
        "gmailOAuth2": {
          "id": "izXCwkn78TWKTAsI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1020,
        -120
      ],
      "id": "4c45c2db-9ed7-4f52-b678-64fcbbff8b06",
      "name": "Merge"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Hey, test n8n",
        "message": "=Hey, {{ $('On form submission').item.json['First Name'] }}\n符合要求发送邮件",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1240,
        -120
      ],
      "id": "ed93ec00-6aa4-4671-b349-b4e651fc3733",
      "name": "Gmail3",
      "webhookId": "2ff7d692-99dc-4d4d-8254-5c342d1f1fbf",
      "credentials": {
        "gmailOAuth2": {
          "id": "izXCwkn78TWKTAsI",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "First Name": "garron",
          "Last Name": "ge",
          "Email": "gejialun88@gmail.com",
          "Budget": "2000",
          "Message": "test message",
          "submittedAt": "2025-03-25T13:35:25.056+01:00",
          "formMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-25T14:06:07.000Z",
  "versionId": "a59d1dbc-c833-4909-8b23-a1b13df47b67"
}