mytest/QjtrMPL7AHoiUibN.json
{
  "active": false,
  "connections": {
    "Get Urls": {
      "main": [
        [
          {
            "node": "Get screenshots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get screenshots": {
      "main": [
        [
          {
            "node": "Upload images to the same folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload images to the same folder": {
      "main": [
        [
          {
            "node": "Send email with folder link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "spreadsheets file with urls created": {
      "main": [
        [
          {
            "node": "Get Urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-27T04:16:59.696Z",
  "id": "QjtrMPL7AHoiUibN",
  "meta": {
    "templateId": "3321"
  },
  "name": "Capture URL Screenshots from Google Sheets with ScreenshotOne & Save to Drive with Gmail Alerts",
  "nodes": [
    {
      "id": "cd138bff-e429-4223-ae6a-7ffcb70250ec",
      "name": "Get screenshots",
      "type": "n8n-nodes-base.httpRequest",
      "maxTries": 3,
      "position": [
        1020,
        480
      ],
      "parameters": {
        "url": "https://api.screenshotone.com/take?",
        "options": {},
        "sendQuery": true,
        "sendHeaders": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.Url }}"
            },
            {
              "name": "block_cookie_banners",
              "value": "true"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Access-Key",
              "value": "--YOUR SCREENSHOTONE ACCESS KEY--"
            }
          ]
        }
      },
      "executeOnce": false,
      "retryOnFail": true,
      "typeVersion": 4.2
    },
    {
      "id": "94825f14-fdef-41fe-ac5f-52da12e288e4",
      "name": "Get Urls",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        740,
        480
      ],
      "parameters": {
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        }
      },
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZUshZqZwcVJVtSfD",
          "name": "Google Sheets"
        }
      }
    },
    {
      "id": "025bc9b7-ffa0-44e5-903b-0a382c747119",
      "name": "Upload images to the same folder",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1260,
        480
      ],
      "parameters": {
        "name": "=screenshot_{{ $('Get schreenshots').item.json.Url }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "options": {},
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('spreadsheets file with urls created').item.json.parents[0]}}"
        },
        "inputDataFieldName": "=data"
      },
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iOPForFIwGjDsnQ9",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "83b6273b-1dbc-449d-9d4e-a580e3dfb9e0",
      "name": "spreadsheets file with urls created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        440,
        480
      ],
      "parameters": {
        "event": "fileCreated",
        "options": {
          "fileType": "application/vnd.google-apps.spreadsheet"
        },
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "id",
          "value": "--YOUR GOOGLE DRIVE FOLDER ID TO LISTEN--"
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iOPForFIwGjDsnQ9",
          "name": "Google Drive account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "dad9be9f-44b6-4f5b-a67e-33f99c29ab3d",
      "name": "Send email with folder link",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1500,
        480
      ],
      "webhookId": "243e0e93-4216-4206-95a3-4dccc3f328c7",
      "parameters": {
        "sendTo": "--YOUR EMAIL ADDRESS--",
        "message": "=Your screenshots are ready!\nYou can find them in the following folder:\nhttps://drive.google.com/drive/folders/{{ $json.parents }}?usp=drive_link",
        "options": {},
        "subject": "Screenshots are ready",
        "emailType": "text"
      },
      "executeOnce": true,
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "izXCwkn78TWKTAsI",
          "name": "Gmail account"
        }
      }
    },
    {
      "id": "68da222b-9960-49fb-b2c8-d2e0a8f68093",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "parameters": {
        "content": "## This node initiates the workflow by monitoring the designated folder"
      },
      "typeVersion": 1
    },
    {
      "id": "e9679272-3aa3-4180-b9c5-9b223b7ef131",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        660,
        240
      ],
      "parameters": {
        "height": 180,
        "content": "## Ensure your spreadsheet’s ‘Url.’ column contains valid URLs"
      },
      "typeVersion": 1
    },
    {
      "id": "030a29bc-a180-45fa-9dc7-74831d1222e7",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        940,
        240
      ],
      "parameters": {
        "height": 180,
        "content": "## Replace the placeholder with your actual ScreenshotOne  [Access key](https://dash.screenshotone.com/access)"
      },
      "typeVersion": 1
    },
    {
      "id": "a921e62a-cfc4-48cc-8202-555c6b65fc7d",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1420,
        240
      ],
      "parameters": {
        "height": 180,
        "content": "## Review your email settings to ensure notifications are sent correctly"
      },
      "typeVersion": 1
    }
  ],
  "pinData": null,
  "settings": null,
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-27T04:16:59.696Z",
  "versionId": "6d5aa3e7-1f48-4d3f-a96d-ca09ccd4d982"
}