mytest/SLYHIvNh01xp6kdI.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "NASA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NASA": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "PostBin(true)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PostBin(false)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-28T13:27:21.431Z",
  "id": "SLYHIvNh01xp6kdI",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "创建你的第一个工作流",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -980,
        -80
      ],
      "id": "751cbde4-f144-4b08-bc84-a2a5244c1ea9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "donkiSolarFlare",
        "additionalFields": {
          "startDate": "={{ $today.minus(7,\"day\") }}"
        }
      },
      "type": "n8n-nodes-base.nasa",
      "typeVersion": 1,
      "position": [
        -760,
        -80
      ],
      "id": "f325cc9f-e08f-4993-8478-2ce8e39c4585",
      "name": "NASA",
      "credentials": {
        "nasaApi": {
          "id": "T70wIcmYIiseqL0m",
          "name": "NASA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9a7713d3-500f-49c7-bd1c-71f999c67e3e",
              "leftValue": "={{ $json.classType }}",
              "rightValue": "X",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -540,
        -80
      ],
      "id": "81099558-fb2d-4fbe-a3fb-25f867eef29f",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "request",
        "operation": "send",
        "binId": "1747188011963-2822977062314",
        "binContent": "=There was a solar flare of class {{$json[\"classType\"]}}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.postBin",
      "typeVersion": 1,
      "position": [
        -320,
        -180
      ],
      "id": "69b110c0-a531-4c29-85a8-037deb7043c7",
      "name": "PostBin(true)"
    },
    {
      "parameters": {
        "resource": "request",
        "operation": "send",
        "binId": "1747188011963-2822977062314",
        "binContent": "=There was a solar flare of class {{$json[\"classType\"]}}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.postBin",
      "typeVersion": 1,
      "position": [
        -320,
        20
      ],
      "id": "73920a97-f3a4-4db9-be86-1b67f05a0ade",
      "name": "PostBin(false)"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-14T02:29:10.000Z",
  "versionId": "6cec0809-2a9b-4501-b480-01c233f3b400"
}